<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.ui.editors">
      <editor
            icon="icons/trema.gif"
            class="com.netcetera.trema.eclipse.editors.TremaEditor"
            name="Trema Editor"
            contributorClass="com.netcetera.trema.eclipse.editors.TremaEditorContributor"
            id="com.netcetera.trema.eclipse.editors.tremaEditor"
            extensions="xml, trm">
         <contentTypeBinding
               contentTypeId="com.netcetera.trema.contenttype.trm">
         </contentTypeBinding>
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.netcetera.trema.eclipse.TremaPreferencePage"
            id="com.netcetera.trema.eclipse.tremaPreferencePage"
            name="Trema">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.netcetera.trema.eclipse.TremaPreferenceInitializer">
      </initializer>
   </extension>
   
   
   <extension point="org.eclipse.core.resources.markers"
         id="tremaproblem"
         name="Trema Problem">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="false"/>
   </extension>
  
   <extension point="org.eclipse.ui.contexts">
      <context
            id="com.netcetera.trema.eclipse.contexts.tremaContext"
            parentId="org.eclipse.ui.contexts.window"
            name="Trema Editor Table Tree View"/>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
      <category
            id="com.netcetera.trema.eclipse.commands.tremaCategory"
            description="Trema Editor"
            name="Trema Editor"/>
      <command
            description="Add Text Node"
            categoryId="com.netcetera.trema.eclipse.commands.tremaCategory"
            name="Add Text Node"
            id="com.netcetera.trema.eclipse.commands.addTextNode"/>
      <command
            description="Add Value Node"
            categoryId="com.netcetera.trema.eclipse.commands.tremaCategory"
            name="Add Value Node"
            id="com.netcetera.trema.eclipse.commands.addValueNode"/>
      <command
            id="com.netcetera.trema.eclipse.commands.moveUp"
            description="Move Up"
            categoryId="com.netcetera.trema.eclipse.commands.tremaCategory"
            name="Move Up"/>
      <command
            description="Move Down"
            categoryId="com.netcetera.trema.eclipse.commands.tremaCategory"
            name="Move Down"
            id="com.netcetera.trema.eclipse.commands.moveDown"/>
      <command
            categoryId="com.netcetera.trema.eclipse.commands.tremaCategory"
            description="Edit Text"
            id="com.netcetera.trema.eclipse.commands.editTextNode"
            name="Edit Text">
      </command>
      <command
            categoryId="com.netcetera.trema.eclipse.commands.tremaCategory"
            description="Remove Node"
            id="com.netcetera.trema.eclipse.commands.removeNode"
            name="Remove Node">
      </command>
      <command
            categoryId="com.netcetera.trema.eclipse.commands.tremaCategory"
            description="Trema export"
            id="com.netcetera.trema.eclipse.commands.exportFile"
            name="Export">
      </command>
      <command
            categoryId="com.netcetera.trema.eclipse.commands.tremaCategory"
            description="Trema import"
            id="com.netcetera.trema.eclipse.commands.importFile"
            name="Import">
      </command>
      <command
            categoryId="com.netcetera.trema.eclipse.commands.tremaCategory"
            description="Expand Tree"
            id="com.netcetera.trema.eclipse.commands.expandTree"
            name="Expand Tree">
      </command>
      <command
            categoryId="com.netcetera.trema.eclipse.commands.tremaCategory"
            description="Collapse Tree"
            id="com.netcetera.trema.eclipse.commands.collapseTree"
            name="Collapse Tree">
      </command>
      <keyBinding
            commandId="com.netcetera.trema.eclipse.commands.removeNode"
            contextId="com.netcetera.trema.eclipse.contexts.tremaContext"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="Ctrl+Alt+R"
            string="Ctrl+Alt+R">
      </keyBinding>
      <keyBinding
            contextId="com.netcetera.trema.eclipse.contexts.tremaContext"
            string="Ctrl+Alt+N"
            commandId="com.netcetera.trema.eclipse.commands.addTextNode"
            keySequence="Ctrl+Alt+N"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <keyBinding
            contextId="com.netcetera.trema.eclipse.contexts.tremaContext"
            commandId="com.netcetera.trema.eclipse.commands.addValueNode"
            scope="Ctrl+Alt+V"
            keySequence="Ctrl+Alt+V"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <keyBinding
            contextId="com.netcetera.trema.eclipse.contexts.tremaContext"
            string="Ctrl+Alt+U"
            commandId="com.netcetera.trema.eclipse.commands.moveUp"
            keySequence="Ctrl+Alt+U"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <keyBinding
            contextId="com.netcetera.trema.eclipse.contexts.tremaContext"
            string="Ctrl+Alt+D"
            commandId="com.netcetera.trema.eclipse.commands.moveDown"
            keySequence="Ctrl+Alt+D"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <keyBinding
            commandId="com.netcetera.trema.eclipse.commands.editTextNode"
            contextId="com.netcetera.trema.eclipse.contexts.tremaContext"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="Ctrl+Alt+E"
            string="Ctrl+Alt+E">
      </keyBinding>
   </extension>
   
   <extension point="org.eclipse.ui.newWizards">
      <category
            name="Trema"
            id="com.netcetera.trema.eclipse.newWizards.tremaCategory">
      </category>
      <wizard
            name="Trema XML Database File"
            icon="icons/trema.gif"
            category="com.netcetera.trema.eclipse.newWizards.tremaCategory"
            class="com.netcetera.trema.eclipse.wizards.NewWizard"
            id="com.netcetera.trema.eclipse.wizards.newWizard">
         <description>
            Create a new Trema XML database file resource
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            icon="icons/trema.gif"
            class="com.netcetera.trema.eclipse.TremaPerspective"
            name="Trema"
            id="com.netcetera.trema.eclipse.perspectives.tremaPerspective"/>
   </extension>
   <extension
         id="tremaApplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="com.netcetera.trema.eclipse.TremaApplication"/>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="trm"
            id="com.netcetera.trema.contenttype.trm"
            name="Trema file"
            priority="high">
      </content-type>
   </extension>
</plugin>
